<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
</head>

<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis eum dolore quod sed dicta. Cupiditate veniam
        velit quae voluptatum omnis quis sapiente esse adipisci consequuntur, et atque repellendus consequatur eaque
        nemo facere deleniti mollitia ab vero dicta maxime cum distinctio suscipit voluptatem soluta? Quis consectetur
        similique fugiat blanditiis mollitia beatae?</p>
</body>

</html>